{{ "<!-- Footer Start -->" | safeHTML }}
<footer id="footer" class="bg-one">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerAboutTitle }}</h3>
                    {{ with .Site.Params.footerDescription }}<p>{{ . }}</p>{{ end }}
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerSocialTitle }}</h3>
                    <ul>
                        {{ range .Site.Menus.social }}
                        <li>
                            <a href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerQuicklinkTitle }}</h3>
                    <ul>
                        {{ range .Site.Menus.quicklink }}
                        <li>
                            <a href="{{ .URL | absLangURL }}">{{ i18n .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <h3>{{ .Site.Params.footerSubscribeTitle }}</h3>
                    <form class="subscribe-form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-main-sm">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <h5>Copyright 2020. All rights reserved.</h5>
        <h6>This site is powered by free and open source software.
            <br>The source code for this site can be found on
            <a href="https://gitlab.com/dwt1" target="_blank">GitLab</a>
        </h6>
    </div>
</footer>
{{ "<!-- end footer -->" | safeHTML }}


{{ "<!-- Essential Scripts -->" | safeHTML }}

{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "plugins/jquery/dist/jquery.min.js" | absURL }}"></script>
{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/dist/js/popper.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/dist/js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Parallax -->" | safeHTML }}
<script src="{{ "plugins/parallax/jquery.parallax-1.1.3.js" | absURL }}"></script>
{{ "<!-- lightbox -->" | safeHTML }}
<script src="{{ "plugins/lightbox2/dist/js/lightbox.min.js" | absURL }}"></script>
{{ "<!-- Slick Carousel -->" | safeHTML }}
<script src="{{ "plugins/slick-carousel/slick/slick.min.js" | absURL }}"></script>
{{ "<!-- Portfolio Filtering -->" | safeHTML }}
<script src="{{ "plugins/filterzr/jquery.filterizr.min.js" | absURL }}"></script>
{{ "<!-- Smooth Scroll js -->" | safeHTML }}
<script src="{{ "plugins/smooth-scroll/dist/js/smooth-scroll.min.js" | absURL }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
